.svgContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(5%);
  max-height: max(10vw, 60vh);
  height: auto;
  width: 100vw;
  max-width: 130vw; /*Will scale up to fit screen */
  min-width: 105vh;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}