
.main {
    display: flex;
    flex-direction: row;
    background-color: #e6e6e6;
    /* z-index: -1; */
    /* background-image: linear-gradient(rgb(198, 196, 196), white); */
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    min-height: 100vh;
    
    position: relative;
}



.image {
    min-width: 40%;
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.img {
    transform: translateY(100px);
    object-fit: cover;
    width: 60%;
    border-radius: 36%;
}

.description {
    color: black;
    display: flex;
    align-items: center;
    min-width: 40%;
    margin: 5%;
    border-radius: 50px;
    background-color: #e6e6e6;
    /* box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
        -8px -8px 18px 0 rgba(255, 255, 255, 0.55); */

    /* font-size: 18px; */
}

.about {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 5%;
}

.about h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 5%;
}

.about h2 b {
    font-weight: 600;
}
/* 
.textContainer {
    margin: 5%;
} */


@media screen and (max-width: 1000px) {
    .image {
        min-width: 40%;
        max-width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img {
        object-fit: cover;
        width: 80%;
    
    }
}

@media screen and (max-width: 700px) {
    .main {
        flex-direction: column;
    }

    .description {
        font-size: 15px;
    }

    .image {
        margin-top: 40%;
        min-width: 60vw;
        max-width: 60vw;
    }

    .img {
        width: 80%;
    }
    
}

@media screen and (max-width: 400px) {
    .image {
        margin-top: 40%;
        min-width: 70vw;
        max-width: 70vw;
    }

    .img {
        width: 100%;
    }
}

@media screen and (min-height: 800px) {
    .img {
        transform: translateY(-20%);
    }
}